/* write your override styles here */
.tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: block;
    border-radius: 50px;
  }
  #tag-2 {
    border-radius: 80px;
    border: red solid;
  }
  #tag-3 {
    border-radius: 75px;
    border: black solid;
  }
  #wall .tag-1 {
    display: none;
    border: dotted;
  }